.all {
	width: 100%;
}
.story {
	background-color: #ABC;
	margin: 0% 1%;
}
.mainStories {
	width: 100%;
	overflow: auto;
}
.main {
	width: 65%;
	float: right;
}
.medium {
	width: 31%;
	float: left;
}
.smallStories {
	width: 100%;
}
.small {
	float: left;
	width: 23%;
}